<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mapitprices.WheresTheCheapBeer"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission
            android:name="android.permission.ACCESS_FINE_LOCATION"
            ></uses-permission>
    <uses-permission
            android:name="android.permission.INTERNET"
            ></uses-permission>
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="com.mapitprices.WhereIsTheCheapBeer.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.mapitprices.WhereIsTheCheapBeer.ReportPriceActivity" android:label="Report Price"/>
        <activity android:name="com.mapitprices.WhereIsTheCheapBeer.MapActivity" android:label="Map"/>
        <activity android:name="com.mapitprices.WhereIsTheCheapBeer.NearbyStoresActivity"/>
        <activity android:name="com.mapitprices.WhereIsTheCheapBeer.NearbyItemsActivity"/>
        <activity android:name="com.mapitprices.WhereIsTheCheapBeer.StoreItemsActivity"/>
        <activity android:name="com.mapitprices.WhereIsTheCheapBeer.NewStoreActivity"/>
        <activity android:name="com.mapitprices.WhereIsTheCheapBeer.BarCodeScanItemActivity"/>
        <activity android:name="com.mapitprices.WhereIsTheCheapBeer.ListAllDistinctItemsActivity">
            <intent-filter>
                <action
                        android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>
        <activity android:name="com.mapitprices.WhereIsTheCheapBeer.SelectStoreActivity"/>
    </application>
</manifest>
