<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission
            android:name="android.permission.ACCESS_FINE_LOCATION"
            ></uses-permission>
    <uses-permission
            android:name="android.permission.INTERNET"
            ></uses-permission>
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="com.mapitprices.WheresTheCheapBeer.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.mapitprices.WheresTheCheapBeer.ReportPriceActivity" android:label="Report Price"/>
        <activity android:name="com.mapitprices.WheresTheCheapBeer.MapActivity" android:label="Map"/>
        <activity android:name="com.mapitprices.WheresTheCheapBeer.NearbyStoresActivity"/>
        <activity android:name="com.mapitprices.WheresTheCheapBeer.NearbyItemsActivity"/>
    </application>
</manifest> 
